# JetBrains IDEs
.idea/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Generic build outputs
/build

# Specific for some languages like Rust
/target

# LLVM profiling output
*.profraw

# Aider
.aiderignore

# Backup files for any .rs files in the project
**/*.rs.bk
