name: Check config file creation if not exists

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always


permissions:
  contents: read

jobs:
  TestConfig:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - run: |
          CONFIG_PATH=~/.config/topgrade.toml;
          if [ -f "$CONFIG_PATH" ]; then rm $CONFIG_PATH; fi
          cargo build;
          TOPGRADE_SKIP_BRKC_NOTIFY=true ./target/debug/topgrade --dry-run --only system;
          stat $CONFIG_PATH;
