on:
  # workflow_run:
  #   workflows: ["Check SemVer compliance"]
  #   types:
  #     - completed
  release:
    # A release was published, or a pre-release was changed to a release.
    # As this workflow only publishes and creates no assets, it can run when the release is published
    types: [ released ]

name: Publish to crates.io on release

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: katyo/publish-crates@v2
        with:
          dry-run: true
          check-repo: ${{ github.event_name == 'push' }}
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          ignore-unpublished-changes: true
