name: Publish to WinGet

on:
  repository_dispatch:
    types: [ release-assets-built ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: michidk/winget-updater@3045a0d80c3ac5eee06d38bbe4174df74119099c # v1.1.6
        with:
          komac-token: ${{ secrets.WINGET_TOKEN }}
          identifier: topgrade-rs.topgrade
          repo: topgrade-rs/topgrade
          url: "https://github.com/topgrade-rs/topgrade/releases/download/v{VERSION}/topgrade-v{VERSION}-x86_64-pc-windows-msvc.zip"
